#  2022-2학기 파이썬 프로그래밍 기말고사

기말 고사 유의 사항

1. 문제의 답안을 함수로 작성하되, 반드시 함수 이름은 문제에서 제시하는 함수명으로 할것 (함수명이 다르면 점수 획득 불가능)
1. 각 문제의 답안은 답안 작성 셀에서 작성할 것
1. 모든 문제는 함수의 매개변수 입력을 통해 데이터를 전달 받고, 결과를 반환하는 함수를 정의하는 것임 (주의: input()는 키보드 입력이며, 함수 입력이 아님, print()는 모니터에 출력하는 함수이며, 함수 반환이 아님)
1. 함수의 입력과 반환 시 데이터 타입도 반드시 지킬것 (예: 문자열 반환이라는 문제에서는 반드시 문자열을 반환 해야함)
1. 답안 제출은 함수가 정의된 부분만 제출하고, 나머지 코드는 지우고 제출할 것, 답안 제출시 input() 함수나 , print() 함수가 있으면 안됨
1. 코드 작성이 끝난 파일은 개별적으로 함수를 호출해서 검수를 거쳐 정답이 맞는지 확인할 것
1. 작성된 답안은 colab의 상단 메뉴의 파일--> 다운로드 --> .py 로 다운 받아 학교 LMS 에 제출할 것  ( .py 다운로드시 경고창이 뜨지만, 계속 버튼을 눌러 다운 할것)
1. .py 가 학교 LMS 에 올라가지 않을경우 ZIP으로 압축하여 업로드 가능
1. 파일의 이름은 자신의 학번.py      예) 학번이 2021111000 일 경우,     2021111000.py 파일을 제출
1. 코드는 자동 채점이 되며, 각 문제당 부분 점수는 없음
1. 시험지 및 답안을 절대 유출 금지(타인 및 개인 블로그 포함)하며, 유출될 경우 불이익을 감수할 것
1. 제출 기한을 넘겨 답안을 제출하는 것은 불가

## 문제 1) - 5점


<strong>* 하나의 정수를 함수의 입력으로 받아, 이 정수가 홀수 인지 짝수 인지를 판별하여 짝수이면 "짝", 홀수 이면 "홀"이라는 문자열을 반환하는 함수를 작성하시오</strong>


* 예1) 
 * 입력(정수) : 2 <br>
 * 반환(문자열) : "짝"

 * 함수 입력 
    ```
    exam1(2)

    ```
 * 함수 반환
    ```
    "짝"

    ```



* 예2)
 * 입력(정수): 3 <br>
 * 반환(문자열): "홀"

 * 함수 입력
    ```
    exam1(3)
    ```
 * 함수 반환
    ```
    "홀"

    ```



* 함수 이름: exam1<br>      (반드시 함수 이름을 exam1로 작성할것!!)

* 함수 작성 가이드 <br>



```
def exam1(a):
    b = a가 짝수라면 "짝"이라는 문자열을 대입
    return b
```

In [6]:
###### 1번 문제 답안 작성 셀 ######
def exam1(a):
    if(a % 2 == 0):
        b=("짝")
    else:
        b=("홀")
    return b

exam1(7)

'홀'

## 문제 2) - 10점

<strong> * 하나의 리스트를 함수의 입력으로 넣으면, 리스트안의 중복을 제거한 다음 중복 제거된 리스트를 반환하는 함수를 작성하시오. (단, 데이터 순서를 유지할 것)</strong>

* 예1) 
   * 입력(리스트) : [1,2,1,1,1] <br>
   * 반환(리스트) : [1,2]

   * 함수 입력 
       ```
       exam2([1,2,1,1,1])

       ```
   * 함수 반환
       ```
       [1,2]

       ```

* 예2)

 * 입력(리스트): [3,3,4,5,3] <br>
 * 반환(리스트): [3,4,5]

 * 함수 입력 
    ```
    exam2([3,3,4,5])

    ```
 * 함수 반환
   ```
   [3,4,5]

   ```



* 함수 이름: exam2 <br>      (반드시 함수 이름을 exam2로 작성할것!!)

* 함수 작성 가이드 <br>



```
def exam2(a):
    b = a리스트의 중복제거한 리스트
    return b
```

In [7]:
###### 2번 문제 답안 작성 셀 ######
def exam2(a):
    b= list(set(a))
    return b

exam2([10, 22, 19, 22, 1, 10, 5])

[1, 5, 10, 19, 22]

## 문제 3) - 10점

<strong> 다음 표에서 나타내는 아이스크림 중, 2가지를 선택하여 함수의 입력으로 넣으면, 아이스크림의 총 가격이 정수로 반환하는 함수를 작성하시오.</strong> (단, 아이스크림의 순서는 상관없음)

|아이스크림|가격|
|---|---|
|누가바|1200|
|쌍쌍바|1000|
|돼지바|500|
|바밤바|700|
|보석바|900|

* 예1)

  * 입력(문자열, 문자열) : 누가바, 쌍쌍바
  * 반환(정수) : 2200

  * 함수 입력 
    ```   
    exam3("누가바", "쌍쌍바")
    ```
  * 함수 반환
    ```
    2200
    ```

* 예2)

  * 입력(문자열, 문자열): 돼지바, 바밤바
  * 반환(정수): 1200


  * 함수 입력 
    ```
    exam3("돼지바", "바밤바")
    ```

  * 함수 반환
    ```
    1200
    ```

* 함수 이름: exam3
(반드시 함수 이름을 exam3로 작성할것!!)

* 함수 작성 가이드



```
def exam3(a,b):
    c = a와 b 가격의 총합
    return c
```

In [8]:
###### 3번 문제 답안 작성 셀 ######

def exam3(a,b):
    inventory = {"누가바": [1200], 
                 "쌍쌍바": [1000], 
                 "돼지바": [500],
                 "바밤바": [700],
                 "보석바": [900]}

    a= inventory[a][0]
    b= inventory[b][0]
    c= a+b
    return c

exam3("쌍쌍바", "보석바")

1900

## 문제 4) - 10점

<strong> 1부터 10까지의 정수 중 하나를 함수의 입력으로 넣으면, 이 숫자에 해당하는 영문자열을 반환하는 함수를 작성하시오.  </strong>



* 예1)<br>

    * 입력(정수) : 1<br>
    * 반환(문자열) : one<br>

    * 함수 입력 
        ```
        exam4(1)

        ```

    * 함수 반환

        ```
        one

        ```

* 예2)<br>

    * 입력(정수) : 7<br>
    * 반환(문자열) : seven<br>

    * 함수 입력 
        ```
        exam4(7)

        ```
    
    * 함수 반환
        ```
        seven
        ```


* 함수 이름: exam4  <br>
(반드시 함수 이름을 exam4로 작성할것!!)<br>

* 함수 작성 가이드

```
def exam4(a):
    b = a의 영문자열
    return b
```

In [13]:
###### 4번 문제 답안 작성 셀 ######

def exam4(a):
    list= ["one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten"]
    a= a-1
    b = list[a]
    return b

exam4(3)

'three'

## 문제5) - 5점

<strong> 2002년도부터 2100년도까지의 정수를 함수의 입력으로 넣으면, 월드컵 개최의 해인지 판별하여 개최의 해라면 True, 그렇지 않다면 False를 반환하는 함수를 작성하시오.  </strong><br>

(단, 2002년도는 월드컵 개최의 해 이며, 4년마다 한번씩 월드컵이 개최되어 이후 2006, 2010..... 년도 등이 월드컵 개최의 해이다.)



* 예1)<br>

  * 입력(정수) : 2002<br>
  * 반환(불) : True<br>

  * 함수 입력 
      ```
      exam5(2002)
    
      ```
  * 함수 반환 
    
     ```
    True
     ```
<br>

* 예2)

  * 입력(정수) : 2003<br>
  * 반환(불) : False<br>
  * 함수 입력 
      ```
      exam5(2003)

      ```

  * 함수 반환

      ```
      False
      ```




* 함수 이름: exam5
(반드시 함수 이름을 exam5로 작성할것!!)

* 함수 작성 가이드


```

def exam5(a):
    b = a 가 월드컵 개최의 해라면 True(bool). 그렇지 않다면 False(bool)을 대입
    return b
```

In [172]:
###### 5번 문제 답안 작성 셀 ######
def exam5(a):
    if (2002<=a<=2100 and a%4==0):
        b= ("True")
    else:
        b= ("False")
    return b
    
exam5(2004)

'True'

## 문제 6) - 5점

<strong>웹사이트 주소를 문자열로 합수의 입력으로 넣으면 회사 이름을 반환하는 함수를 작성하시오.</strong><br>


웹 사이트 주소 형식은 아래와 같고, 모든 입력은 아래의 형식을 따른다.

```
www.회사명.xxx
```




|웹사이트 주소 |회사 이름|
|---|---|
|www.naver.com|naver|
|www.google.com|google|
|www.amazon.com|amazon|
|www.cuk.edu|cuk|



* 예1)<br>

  * 입력(문자열) : www.yahoo.com<br>
  * 반환(문자열) : yahoo<br>

  * 함수 입력 
      ```
      exam6("www.yahoo.com")
    
      ```
  * 함수 반환 
    
     ```
     yahoo
     ```

* 예2)

    * 입력(문자열) : "www.cuk.edu"<br>
    * 반환(문자열) : cuk<br>

    * 함수 입력 
        ```
        exam6("www.cuk.edu")
        
        ```
    * 함수 반환 
        
        ```
        cuk
        ```


* 함수 이름: exam6
(반드시 함수 이름을 exam6로 작성할것!!)

* 함수 작성 힌트


```

def exam6(a):
    b = a 웹사이트 주소에서 나타내는 회사명
    return b
```

In [63]:
###### 6번 문제 답안 작성 셀 ######

def exam6(a):
    b = a.split('.')
    b = (b[-2])
    return b


exam6("www.naver.com")

'naver'

## 문제 7) - 15점


<strong>하나의 문자열을 함수의 입력으로 받아, 이 문자열이 오직 '0'과 '1'로 만 이루어진 문자열이면 True를 반환하고, 그외 다른 문자열이 포함되어 있을 경우 False를 반환하는 함수를 작성하시오. </strong><br>



* 예1)<br>

  * 입력(문자열) : "101010101010"<br>
  * 반환(불) : True<br>
  
  * 함수 입력 
      ```
      exam7("101010101010")
    
      ```
  * 함수 반환 
    
     ```
     True
     ```

* 예2)<br>

    * 입력(문자열) : "11A02011"<br>
    * 반환(불) : False<br>

    * 함수 입력 
        ```
        exam7("11A02011")
        
        ```
    * 함수 반환 
        
        ```
        False
        ```

* 함수 이름: exam7
(반드시 함수 이름을 exam7로 작성할것!!)

* 함수 작성 가이드


```

def exam7(a):
    b = a 문자열이 '0'과 '1'로만 되어 있으면 True, 그외 다른 문자를 포함하면 False
    return b
```

In [165]:
###### 7번 문제 답안 작성 셀 ######
def exam7(a):
    b = len(a)
    c = a.count("0")
    d = a.count("1")
    if(b = =c + d):
        e= ("True")
    else:
        e=("False")
    return e

exam7("01001")

'True'

## 문제 8 - 10점

<strong>정수로 구성된 하나의 리스트를 함수의 입력으로 받으면, 리스트 안의 요소들 중 가장 작은 값을 반환하는 함수를 작성하시오. </strong><br>


* 예1)<br>

  * 입력(리스트) : [9, 4, 3, 2, 1]<br>
  * 반환(정수) : 1<br>

  * 함수 입력 
      ```
      exam8([9, 4, 3, 2, 1])
    
      ```
  * 함수 반환 
    
     ```
     1
     ```

* 예2)<br>

    * 입력(리스트) : [-2, 3, -4, -5, -7]<br> 
    * 반환(정수) : -7 <br>

    * 함수 입력 
        ```
        exam8([-2, 3, -4, -5, -7])
        
        ```
    * 함수 반환 
        
        ```
        -7
        ```

* 함수 이름: exam8
(반드시 함수 이름을 exam8로 작성할것!!)

* 함수 작성 가이드


```

def exam8(a):
    b = a의 리스트 중 가장 작은 정수
    return b
```

In [61]:
###### 8번 문제 답안 작성 셀 ######
def exam8(a):
    b= min(a)
    return b

exam8([9,4,3,25,26,1,-5])

-5

## 문제 9) - 15점

휴대전화 번호를 문자열 형태로 함수의 매개변수로 입력 받으면, 휴대전화 중간 4개의 숫자를 ####으로 바꾸어 반환하는 함수를 작성하시오.



* 예1) <br>

    * 입력(문자열) : "010-3222-1234"<br>
    * 반환(문자열) : "010-####-1234"<br>


    * 함수 입력 
       ```
       exam9("010-3222-1234")
       ```

    * 함수 반환 
        ```
        "010-####-1234"
        ```

* 예2)<br>

    * 입력(문자열) : "010-1221-0984"<br>
    * 반환(문자열) : "010-####-0984"<br>

    * 함수 입력 
        ```
        exam9("010-1221-0984")
            
        ```
    * 함수 반환 
         
        ```
        "010-####-0984"
        ```
 
* 함수 이름: exam9 (반드시 함수 이름을 exam9로 작성할것!!)<br>

함수 작성 가이드

```

def exam9(a):
    b = a 문자열의 중간 4개의 숫자를 ####로 마스킹한 문자열
    return b
```

In [127]:
###### 9번 문제 답안 작성 셀 ######
def exam9(a):
    a = a.split('-')
    b = (a[-3])
    c = (a[-2])
    d = (a[-1])
    e = c.replace(c,"####")
    f = b +"-"+ e +"-"+ c
    return f


exam9("010-3456-7899")

'010-####-3456'

## 문제 10) - 15점

<strong> 선거 투표지를 리스트에 담아 놓는 자료가 있다. 이 리스트를 함수의 입력으로 넣으면, 최종 다득표자의 이름을 문자열로 반환하는 함수를 작성하시오. (단, 동점 득표가 없다고 가정한다.) </strong> 



* 예1) <br>

   * 입력(리스트) : ["John", "Joseph", "Joseph", "Joseph", "Peter", "Oliver","Nicholas"] <br>
   * 반환(문자열) : "Joseph" <br>


   * 함수 입력 
      ```
      exam10(["John", "Joseph", "Joseph", "Joseph", "Peter", "Oliver","Nicholas"])
      ```
        
   * 함수 반환 
      ```
      "Joseph"
      ```

* 예2)<br>

    * 입력(리스트) : ["Kim", "Kim", "Park"] <br>
    * 반환(문자열) : "Kim" <br>

    * 함수 입력 
        ```
        exam10(["Kim", "Kim", "Park"])                 
        ```
        
    * 함수 반환 
            
        ```
        "Kim"
        ```



* 함수 이름: exam10 (반드시 함수 이름을 exam10로 작성할것!!)<br>

함수 작성 가이드

```

def exam10(a):
    b = a 리스트에서 가장 많은 문자열
    return b
```

In [145]:
###### 10번 문제 답안 작성 셀######
def exam10(a):
    b= max(a, key = a.count)
    return b

exam10(["John", "Joseph", "Joseph", "Joseph", "Peter", "Oliver","Nicholas"])

'Joseph'